html {
  font-size: 10px;
  background: url("./imgs/piano.jpg") bottom center;
  background-size: cover;
}

body,
html {
  margin: 0;
  padding: 0;
}

h1 {
  margin-left: 17%;
  font-size: 50px !important;
  color: #c2efdb;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: white;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 3rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.9s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale(1);
  border-color: #81b8a1;
  box-shadow: 0 0 1rem #81b8a1;
}

kbd {
  display: block;
  font-size: 4rem;
  font-family: "Times New Roman", Times, serif;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #81b8a1;
}
